services:
  postgres:
    image: postgres:18
    container_name: goplate-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: goplate
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
